# Astro
.astro/
dist/
node_modules/

# Env vars
.env
.env.local
.env.production

# Editor / OS
.DS_Store
.vscode/
.idea/
*.log

# Local Netlify folder
.netlify

# Local browser test artifacts
.playwright-cli/
